# Python
venv/
.env
*.pyc
__pycache__/
*/__pycache__/
**/*.pyc
.pytest_cache/
backend/.env

# React / Vite (Frontend)
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.eslintcache
dist/

# OS & Editors
.DS_Store
.vscode/
.idea/
Thumbs.db