# Для FastAPI
DATABASE_URL=postgresql+asyncpg://YOUR_LOGIN:YOUR_PASSWORD@localhost:5432/DATABASE_NAME

# Для Alembic
SYNC_DATABASE_URL=postgresql://YOUR_LOGIN:YOUR_PASSWORD@localhost:5432/DATABASE_NAME