# Ключ для подписи токенов
JWT_SECRET_KEY=GENERATED_SECRET_KEY

# Алгоритм шифрования
ALGORITHM=TYPE_OF_ALGORYTHM

# Время жизни токена в минутах
ACCESS_TOKEN_EXPIRE_MINUTES=NUMBER_OF_MINUTES

# Для FastAPI
DATABASE_URL=postgresql+asyncpg://YOUR_LOGIN:YOUR_PASSWORD@localhost:5432/DATABASE_NAME

# Для Alembic
SYNC_DATABASE_URL=postgresql://YOUR_LOGIN:YOUR_PASSWORD@localhost:5432/DATABASE_NAME