/* Общий контейнер для центрирования всего */
.App {
  text-align: center;
  background-color: #242424; /* Современный темный фон */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* Заголовок с корзинкой */
h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

/* Крутящаяся корзинка */
.spinning-cart {
  display: inline-block;
  perspective: 1000px;
  animation: rotateYCart 3s linear infinite;
  margin-right: 15px;
  font-size: 3rem;
}

@keyframes rotateYCart {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

/* Описание под заголовком */
p {
  color: #888;
  margin-bottom: 2rem;
}